################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MauiControlsSample/bin/Debug
/MauiControlsSample/obj
/.vs
